[submodule "DiamondBank-OG"]
	path = DiamondBank-OG
	url = https://github.com/true-og/DiamondBank-OG
[submodule "FirstPlayed-OG"]
	path = FirstPlayed-OG
	url = https://github.com/true-og/FirstPlayed-OG
[submodule "SudoSigns-OG"]
	path = SudoSigns-OG
	url = https://github.com/true-og/SudoSigns-OG
[submodule "ToggleDeathCoordinates-OG"]
	path = ToggleDeathCoordinates-OG
	url = https://github.com/true-og/ToggleDeathCoordinates-OG
[submodule "BetterPickup-OG"]
	path = BetterPickup-OG
	url = https://github.com/true-og/BetterPickup-OG
[submodule "Celeste-OG"]
	path = Celeste-OG
	url = https://github.com/true-og/Celeste-OG
[submodule "CoreProtectTNT-OG"]
	path = CoreProtectTNT-OG
	url = https://github.com/true-og/CoreProtectTNT-OG
[submodule "OldEnchant-OG"]
	path = OldEnchant-OG
	url = https://github.com/true-og/OldEnchant-OG
[submodule "NoDespawn-OG"]
	path = NoDespawn-OG
	url = https://github.com/true-og/NoDespawn-OG
[submodule "MCShared-OG"]
	path = MCShared-OG
	url = https://github.com/true-og/MCShared-OG
[submodule "PetMaster-OG"]
	path = PetMaster-OG
	url = https://github.com/true-og/PetMaster-OG
[submodule "ArenaRegen-OG"]
	path = ArenaRegen-OG
	url = https://github.com/true-og/ArenaRegen-OG
[submodule "Splegg-OG"]
	path = Splegg-OG
	url = https://github.com/true-og/Splegg-OG/
[submodule "WGamemode-OG"]
	path = WGamemode-OG
	url = https://github.com/true-og/WGamemode-OG
[submodule "SimpleBounties-OG"]
	path = SimpleBounties-OG
	url = https://github.com/true-og/SimpleBounties-OG
[submodule "MiniPlaceholders-AFKPlus"]
	path = MiniPlaceholders-AFKPlus
	url = https://github.com/true-og/MiniPlaceholders-AFKPlus
[submodule "MiniPlaceholders-Essentials"]
	path = MiniPlaceholders-Essentials
	url = https://github.com/true-og/MiniPlaceholders-Essentials/
[submodule "MiniPlaceholders-Statistic"]
	path = MiniPlaceholders-Statistic
	url = https://github.com/true-og/MiniPlaceholders-Statistic
